body {
  width: 100%;
  display: flex;
  justify-conter: center;
  align-items: center;
  flex-direction: column;
}

.list {
  width: 100%;
  display: flex;
  justify-conter: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
