body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list {
    // width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2 {
        }
        p {
            margin: 0;
        }
    }
}

.images {
    column-count: 3;
}
